/* css for gameroom and cheatsheet */

body {
  background-color: #006400;
}

h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5em;
}

nav {
  background-color: rgb(188, 212, 78);
  align-content: center;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 150px;
}

nav #main {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  font-weight: bold;
  margin-left: 40px;
}

nav #home {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: monospace;
  font-size: 3em;
}

nav #cheatsheet {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: monospace;
  font-size: 3em;
}

nav #gameroom {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: monospace;
  font-size: 3em;
}

a {
  text-decoration: none;
}

/* ------------- Gameroom page --------------*/

#gametable {
  position: relative;
  width: 1200px;
  height: 800px;
  margin-left: 100px;
}

#musicplayer {
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: 1400px;
  top: -850px;
}

#musicplayer iframe {
  align-items: center;
  margin-left: 27px;
  padding-top: 10px;
}

/* ------------- cheatsheet page -------------*/

div {
  width: 300px;
  height: 300px;
  background-color: #adc178;
  border: 5px solid #004b23;
  margin: 40px;
}

#key {
  margin-left: 400px;
  margin-top: 100px;
}

table, th, tr, td {
  border: 1px solid;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#boxes {
  margin-left: 800px;
}

#div1 {
  position: relative;
  top: -350px;
  width: 600px;
  height: 550px;
}

#div2 {
  position: relative;
  top: -350px;
  width: 600px;
  height: 500px;
}

#div3 {
  position: relative;
  top: -350px;
  width: 600px;
  height: 550px;
}

.split {
  background-color: red;
}

.stand {
  background-color: lightblue;
}

.hit {
  background-color: yellow;
}

.double {
  background-color: orange;
}
th {
  background-color: white;
}

footer p {
  font-size: 25px;
  color: aqua;
}